</td>
</tr>
</table>

<br>

<table width="100%" cellpadding="6">
<tr>
<td>

<script language="JavaScript">

var mt = "";
var _d = document;

contactname = "<%=Session["contactName"]%>";
contactemail = "<%=Session["contactEmail"]%>";
contactphone = "<%=Session["contactPhone"]%>";
contactaddinfo = "<%=Session["contactAddInfo"]%>";
appVersion = "<%=Application["Version"]%>";
appCpyDur = "<%=Application["CopyrightsDur"]%>";


mt += "<table width='100%' border='0' cellpadding='0' cellspacing='0'>";

mt += "<tr valign='Bas de Page'>";
mt += "<td width='70%' height='20'>";


mt += "<a class=sb1 href='#top'>Retournez en haut de Page</a>";

mt += "</td>";
mt += "<td width='28%' valign='Bas de Page' align='right'>";
mt += "<table>";
mt += "<tr>";

mt += "</tr>"
mt += "</table>"
mt += "</td>"
mt += "<td width='2%'></td>"
mt += "</tr>"
mt += "<tr valign='top'>"
mt += "<td colspan='3' bgcolor='#000080' width='937' height='1'><IMG height='3' alt='' src='image/space.gif' width='100%'></td>" //Edited for FF
mt += "</tr>"
mt += "</table>"

mt += "<center><table border='0' cellpadding='2' cellspacing='2'>";
mt += "<tr valign='Bas de Page'>";
mt += "<td>";
mt += "<span class=srcstext2>Contacter les équipes de Support : </span><span class=contacttext>" + contactname + "</span>";
mt += "</td>";
mt += "<td width=10></td>";
mt += "<td>";
mt += "<span class=srcstext2>Tech Support Email : </span><span class=contacttext><a  href='mailto:" + contactemail + "'>" + contactemail + "</a></span>";
mt += "</td>";
mt += "<td width=10></td>";
mt += "<td>";
mt += "<span class=srcstext2>Numéro de téléphone des équipes de support : </span><span class=contacttext>" + contactphone + "</span>";
mt += "</td>";
mt += "</tr>";
mt += "<td colspan=5 align=center>";
mt += "<span class=srcstext2>myVRM Version "+ appVersion +",(c)Copyright "+ appCpyDur +"<a href='http://www.myvrm.com'>myVRM.com</a>. Tout Rights Reserved.</span>"; //FB 1648
mt += "</td>";
mt += "</tr>";
mt += "</table></center>";

_d.write(mt)


</script>

</td>
</tr>
</table>

</body>
</html>

