<!DOCTYPE HTML Public "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<!--  #INCLUDE FILE="BrowserDetect.aspx"  -->
<title>myVRM</title>
<meta name="Description" content="myVRM (Videoconferencing Resource Management) is a revolutionary Web-based software application that manages N'importe quel video conferencing environment.">
<meta name="Keywords" content="VRM, myVRM, Videoconferencing Resource Management, video conferencing, video bridges, video Points de connexion">
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />

<link rel="stylesheet" title="Expedite base styles" type="text/css" href="../fr/Organizations/Org_11/CSS/Mirror/Styles/main.css" /> <%-- FB 1830--%><%--FB 2391--%>
<script type="text/javascript" src="../script/errorList.js"></script>
</head>

<body bottommargin="0" leftmargin="0" rightmargin="0" topmargin="0" marginheight="0" marginwidth="0">


