<!DOCTYPE html>

<html>
<head>
<!--  #INCLUDE FILE="BrowserDetect.aspx"  -->
  <title>myVRM</title>
  <meta name="Description" content="myVRM (Videoconferencing Resource Management) is a revolutionary Web-based software application that manages any video conferencing environment." />
  <meta name="Keywords" content="VRM, myVRM, Videoconferencing Resource Management, video conferencing, video bridges, video endpoints" />
  

  <link rel="stylesheet" title="Expedite base styles" type="text/css" href="App_Themes/CSS/main.css" /> <%-- FB 1830 - Translation Menu--%>
  <link rel="stylesheet" title="Expedite base styles" type="text/css" href="App_Themes/CSS/buttons.css" />
  <script type="text/javascript" src="../script/errorList.js"></script>
</head>

<body bottommargin="0" leftmargin="0" rightmargin="0" topmargin="0" marginheight="0" marginwidth="0">
</body>

</html>