<%@ Page Language="C#" Inherits="ns_HolidayDetails.HolidayDetails" Buffer="true" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <!-- FB 2050 -->
<meta http-equiv="X-UA-Compatible" content="IE=7" /> <!-- FB 2050 -->
<!-- #INCLUDE FILE="inc/maintopNET.aspx" --> 
<script language="javascript">

function ManageOrder ()
{
    change_mcu_order_prompt('image/pen.gif', '日の順序を管理する', document.getElementById('hdnValue').value, "色の日");
}

function frmsubmit()
{
    if(document.getElementById("btnManage")!= null)
        document.getElementById("btnManage").click();
}


function fnCancel()
{
	window.location.replace('organisationsettings.aspx');
}
	
</script>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title> </title>
    <script type="text/javascript" src="inc/functions.js"></script>
    <script type="text/javascript" src="script/mousepos.js"></script>
    <script type="text/javascript" src="script/managemcuorder.js"></script>

</head>
<body>
    <form id="frmManagebridge" runat="server" method="post">
        <input type="hidden" id="Bridges" runat="server" />
        <input type="hidden" id="hdnValue" runat="server" />
    <div>
        <table width="100%">
            <tr>
                <td align="center">
                    <h3>
                        <asp:Label ID="lblHeader" runat="server"></asp:Label>
                    </h3>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <asp:Label ID="errLabel" runat="server" Text="" CssClass="lblError"></asp:Label>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <asp:DataGrid ID="dgHolidayDetails" runat="server" AutoGenerateColumns="False" CellPadding="4" GridLines="None"
                         BorderColor="blue" BorderStyle="solid" BorderWidth="1" ShowFooter="true" OnItemCreated="DeleteHolidayTypeMsg"
                        OnDeleteCommand="DeleteHolidayDetails" OnEditCommand="EditDetails" Width="60%" Visible="true" 
                        OnItemDataBound="dgHolidayDetails_ItemDataBound" style="border-collapse:separate"> 
                        <SelectedItemStyle  CssClass="tableBody"  Font-Bold="True"  />
                        <EditItemStyle CssClass="tableBody" />
                        <AlternatingItemStyle CssClass="tableBody" />
                        <ItemStyle CssClass="tableBody" />
                        <FooterStyle CssClass="tableBody" />
                        <HeaderStyle CssClass="tableHeader" />
                        <Columns>
                            <asp:BoundColumn DataField="id" Visible="false" ><HeaderStyle CssClass="tableHeader" /></asp:BoundColumn>
                            <asp:BoundColumn DataField="RowUID" HeaderText="S.No" ><HeaderStyle CssClass="tableHeader" /></asp:BoundColumn>
                            <asp:TemplateColumn HeaderText="名前" ItemStyle-CssClass="tableBody" HeaderStyle-CssClass="tableHeader">
                                <ItemTemplate>
                                    <asp:Label ID="lblHoliday" runat="server" Text='<%# DataBinder.Eval(Container, "DataItem.HolidayDescription") %>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            <asp:TemplateColumn HeaderText="色" ItemStyle-CssClass="tableBody" HeaderStyle-CssClass="tableHeader">
                                <ItemTemplate>
                                    <asp:TextBox ID="txtColor" runat="server" Width="60px" Text='<%# DataBinder.Eval(Container, "DataItem.Color") %>'  ReadOnly="true"></asp:TextBox>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            <asp:TemplateColumn HeaderText="アクション" ItemStyle-Width="15%">
                                <HeaderStyle CssClass="tableHeader" />
                                <ItemTemplate>
                                    <asp:LinkButton runat="server" Text="編集" ID="btnEdit" CommandName="Edit"></asp:LinkButton>
                                    &nbsp;<asp:LinkButton runat="server" Text="削除" ID="btnDelete" CommandName="Delete"></asp:LinkButton>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                        </Columns>
                    </asp:DataGrid>
                    <asp:Table runat="server" ID="tblNoDetails" Visible="false" Width="90%">
                        <asp:TableRow CssClass="lblError">
                            <asp:TableCell CssClass="lblError">
                                詳細情報なしが見つかりませんでした.
                            </asp:TableCell>
                        </asp:TableRow>
                    </asp:Table>
                </td>
            </tr>
             <tr>
                <td align="center">
                    <table width="60%" >
                        <tr>
                            <td align="center">
                                <asp:Button ID="btnManageOrder" runat="server" OnClientClick="javascript:ManageOrder();return false;" Text="日の順序を管理する" CssClass="altLongBlueButtonFormat" />
                                <asp:Button ID="btnManage" OnClick="ManageTypeOrder" runat="server" style="display:none;"  /> 
                            </td>
                            
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table cellspacing="5" width="90%">
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <span class=subtitleblueblodtext><asp:Label ID="lblCreateEditDepartment" runat="server" Text="新規作成"></asp:Label> 色の日  </SPAN>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>    
            <tr>
               <td align="left" >
                    <table width="90%">
                        <tr>
                            <td align="right">                                
                                <input class="altLongBlueButtonFormat" onclick="fnCancel()" type="button" value="キャンセル" name="btnCancel" style="width:12%" />
                                <asp:Button ID="btnCreate" onfocus="this.blur()" OnClick="CreateNewHolidayDetails" runat="server" CssClass="altLongBlueButtonFormat" Text="送信" Width="12%" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>        
        </table>
    </div>

<img src="keepalive.asp" name="myPic" width="1px" height="1px">
    </form>

<%--code added for Soft Edge button--%>
<script type="text/javascript" src="inc/softedge.js"></script>
    <!-- #INCLUDE FILE="inc/mainbottomNET.aspx" -->
</body>
</html>

