<%@ Page Language="C#" Inherits="ns_Bridges.Bridges" Buffer="true" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <!-- FB 2050 -->
<meta http-equiv="X-UA-Compatible" content="IE=7" /> <!-- FB 2050 -->
<!-- #INCLUDE FILE="inc/maintopNET.aspx" --> 

<script runat="server">

</script>
<script type="text/javascript" src="script/mousepos.js"></script>
<script type="text/javascript" src="script/managemcuorder.js"></script>

<script language="javascript">

	function ManageOrder ()
	{
	
		change_mcu_order_prompt('image/pen.gif', 'MCUオーダーを管理する', document.getElementById('Bridges').value, "MCUs");//Edited For FF...
		
//		frmsubmit('SAVE', '');
	}
	
	function frmsubmit()
	{
	
	
	    if(document.getElementById("btnManage")!= null)//FB 1920
	    {
	        document.getElementById("btnManage").click();
	    }
	    /* Commented for FB 1920
	
	    if(document.getElementById("__EVENTTARGET")!= null)//FB 1763
	    {
	    document.getElementById("__EVENTTARGET").value="ManageOrder";
	    document.frmManagebridge.submit();
	    }*/
	}
</script>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>MCUの管理</title>
    <script type="text/javascript" src="inc/functions.js"></script>

</head>
<body>
    <form id="frmManagebridge" runat="server" method="post" onsubmit="return true">
    <div>
      <input type="hidden" id="helpPage" value="65">

        <table width="100%">
            <tr>
                <td align="center">
                    <h3>
                        <asp:Label ID="lblHeader" runat="server"></asp:Label>
                    </h3>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <asp:Label ID="errLabel" runat="server" Text="" CssClass="lblError"></asp:Label>
                </td>
            </tr>
            <tr>
                <td align="Left">
                    <table cellspacing="5" width="100%"> <%-- FB 2050 --%>
                        <tr>
                            <td>&nbsp;</td>
                            <td width = "50%">
                                <SPAN class=subtitleblueblodtext>既存MCU</SPAN>
                            </td>
                            <%--FB 1920 Starts--%>
                            <td width = "100%" style="color: Red;" align="right">
                                <asp:Label  ID = "lblMCUmsg" runat="server">
                                    <b>(*)</b> "スーパーテナント"の公開MCUは示しています
                                </asp:Label>
                            </td>
                            <%--FB 1920Ends--%>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <asp:DataGrid ID="dgMCUs" runat="server" AutoGenerateColumns="False" CellPadding="4" GridLines="None"
                         BorderColor="blue" style="border-collapse:separate" BorderStyle="solid" BorderWidth="1" ShowFooter="true" OnItemCreated="BindRowsDeleteMessage"
                         OnItemDataBound="BindRowsToGrid" OnDeleteCommand="DeleteMCU" OnEditCommand="EditMCU" Width="90%" Visible="true" > <%--Edited for FF--%> <%--FB 1920--%>
                        <%--Window Dressing start--%>
                        <SelectedItemStyle CssClass="tableBody" Font-Bold="True" />
                        <EditItemStyle CssClass="tableBody" />
                        <AlternatingItemStyle CssClass="tableBody"/>
                        <ItemStyle CssClass="tableBody" />
                        <FooterStyle CssClass="tableBody"/>
                        <%--Window Dressing end--%>
                        <HeaderStyle CssClass="tableHeader" />
                        <Columns><%--window dressing start--%>
                            <asp:BoundColumn DataField="ID" Visible="false"><HeaderStyle CssClass="tableHeader" /></asp:BoundColumn>
                            <asp:BoundColumn DataField="name" HeaderStyle-CssClass="tableHeader" ItemStyle-HorizontalAlign="Left" HeaderStyle-HorizontalAlign="Left" HeaderText="名前" ItemStyle-CssClass="tableBody"></asp:BoundColumn> <%-- FB 2050 --%> 
                            <asp:BoundColumn DataField="interfaceType" HeaderStyle-CssClass="tableHeader" ItemStyle-HorizontalAlign="Left" HeaderStyle-HorizontalAlign="Left" HeaderText="インタフェースの<BR>タイプ" ItemStyle-CssClass="tableBody"></asp:BoundColumn> <%-- FB 2050 --%> 
                            <asp:BoundColumn DataField="administrator" HeaderStyle-CssClass="tableHeader" ItemStyle-HorizontalAlign="Left" HeaderStyle-HorizontalAlign="Left" HeaderText="管理者" ItemStyle-CssClass="tableBody"></asp:BoundColumn> <%-- FB 2050 --%> 
                            <asp:BoundColumn DataField="exist" HeaderStyle-CssClass="tableHeader" HeaderText="既存の/仮想<BR>" ItemStyle-CssClass="tableBody"></asp:BoundColumn>
                            <asp:BoundColumn DataField="status" HeaderStyle-CssClass="tableHeader" HeaderText="状況" ItemStyle-CssClass="tableBody"></asp:BoundColumn>
                            <asp:BoundColumn DataField="order" Visible="false"></asp:BoundColumn>
                            <asp:TemplateColumn HeaderText="アクション" HeaderStyle-HorizontalAlign="Left" ItemStyle-HorizontalAlign="Left" ItemStyle-Width="15%"> <%-- FB 2050 --%>
                                <HeaderStyle CssClass="tableHeader" />
                                <ItemTemplate>
                                    <asp:LinkButton runat="server" Text="編集" ID="btnEdit" CommandName="Edit"></asp:LinkButton>
                                    <asp:LinkButton runat="server" Text="削除" ID="btnDelete" CommandName="Delete"></asp:LinkButton>
                                </ItemTemplate>
                                <FooterTemplate>
                                <div style="float:left; text-align:left; width:150px"> <%-- FB 2050 --%>
                                    <%--Window Dressing--%>                                
                                    <b><span class="blackblodtext">総&nbsp;MCUs:&nbsp;</span><asp:Label  ID="lblTotalRecords" runat="server" Text=""></asp:Label> </b>
				    <br>
				     <%--Window Dressing--%>                                
				    <b><span class="blackblodtext">ライセンス残り:&nbsp;</span><asp:Label ID="lblRemaining" runat="server" Text=""></asp:Label> </b>
				                </div> <%-- FB 2050 --%>
                                </FooterTemplate>
                            </asp:TemplateColumn>
                        </Columns>
                    </asp:DataGrid>
                    <%--window dressing End--%>
                    <asp:Table runat="server" ID="tblNoMCUs" Visible="false" Width="90%">
                        <asp:TableRow CssClass="lblError">
                            <asp:TableCell CssClass="lblError">
                                いいえ MCUs 見つかり
                            </asp:TableCell>
                        </asp:TableRow>
                    </asp:Table>                    
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table width="90%">
                        <tr>
                            <td width="50%">&nbsp;</td>
                            <td>
                                <asp:Button ID="btnManageOrder" runat="server" OnClientClick="javascript:ManageOrder();return false;" Text="MCUオーダーを管理する" CssClass="altLongBlueButtonFormat" />
                                <asp:Button ID="btnManage" OnClick="ManageMCUOrder" runat="server" style="display:none;" Width="220px"  /> <%--FB 1920 FB 2050--%>
                            </td>
                            
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="Left">
                    <table cellspacing="5">
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <%--<SPAN class=subtitleblueblodtext>MCU Resource Allocation Report</SPAN>--%><%--Commented for FB 2094--%>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table width="90%">
                        <tr>
                            <td width="50%">&nbsp;</td>
                            <td>
                                <asp:Button ID="btnMCUAllocationReport" OnClick="GenerateReport" runat="server" CssClass="altLongBlueButtonFormat" Text="MCUリソース割り当てレポート" width="220px" /><%--FB 2094 FB 2050--%>
                            </td>
                            
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="Left">
                    <table cellspacing="5">
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                               <%-- <SPAN class=subtitleblueblodtext>Create New MCU</SPAN>--%><%--Commented for FB 2094--%>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table width="90%">
                        <tr>
                            <td width="50%">&nbsp;</td>
                            <td>
                                <asp:Button ID="btnNewMCU" OnClick="CreateNewMCU" runat="server" CssClass="altLongBlueButtonFormat" Text="新規MCU作成" Width="220px" /><%--FB 2094 FB2050--%>
                            </td>
                            
                        </tr>
                    </table>
                </td>
            </tr>
<%--            <tr>
                <td align="Left">
                    <table cellspacing="5">
                        <tr>
                            <td width="20" class="tableHeader" align="center">3</td>
                            <td>
                                <SPAN class=subtitleblueblodtext>Check Resource Availability</SPAN>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table width="90%">
                        <tr>
                            <td width="50%">&nbsp;</td>
                            <td>
                                <asp:Button ID="Button1" OnClick="GenerateReport" runat="server" CssClass="altLongBlueButtonFormat" Text="Submit" />
                            </td>
                            
                        </tr>
                    </table>
                </td>
            </tr>--%>
            <tr style="display:none">
                <td align="center">
                    <asp:DropDownList ID="lstBridgeType" DataTextField="name" DataValueField="ID" runat="server"></asp:DropDownList>
                    <asp:DropDownList ID="lstBridgeStatus" DataTextField="name" DataValueField="ID" runat="server"></asp:DropDownList>
                </td>
            </tr>
        </table>
    </div>
<asp:TextBox ID="txtBridges" runat="server" Width="0" Height="0" ForeColor="transparent" BackColor="transparent" BorderColor="transparent"></asp:TextBox>
  <input type="hidden" id="Bridges" name="Bridges" width="200">

<img src="keepalive.asp" name="myPic" width="1px" height="1px">
    </form>
<%--FB 1491 Start--%>
<script language="javascript">
document.getElementById("Bridges").value=document.getElementById("<%=txtBridges.ClientID %>").value;
</script>
<%--FB 1491 End--%>
<%--code added for Soft Edge button--%>
<script type="text/javascript" src="inc/softedge.js"></script>
    <!-- #INCLUDE FILE="inc/mainbottomNET.aspx" -->
</body>
</html>

