﻿<%@ Page Language="C#" AutoEventWireup="true" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
 <meta name="Description" content="myVRM (Videoconferencing Resource Management) is a revolutionary Web-based software application that manages any video conferencing environment.">
  <meta name="Keywords" content="VRM, myVRM, Videoconferencing Resource Management, video conferencing, video bridges, video endpoints">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <link title="Expedite base styles" href="<%=Session["OrgCSSPath"]%>" type=text/css rel="stylesheet" />

  <script type="text/javascript" src="script/errorList.js"></script>

  <script language="javascript">
  <!--
	
	function errorHandler( e, f, l ){
		alert("An error has ocurred in the JavaScript on this page.\nFile: " + f + "\nLine: " + l + "\nError:" + e);
		return true;
	}
	
  //-->
  </script>

</head>

<body bottommargin="0" leftmargin="5" rightmargin="3" topmargin="8" marginheight="0" marginwidth="0">

  <script language="javascript1.1" src="extract.js"></script>

待っている ......<br>
<img border="0" src="image/wait1.gif" >
<form name="frmPreoutlookemaillist2" method="POST" action="outlookemaillist2main.aspx?wintype=pop&frm=<%=Request.QueryString["frm"]%>&page=<%=Request.QueryString["page"]%>">

<input type="hidden" name="outlookEmails" value="-1">
</form>

<script Language="JavaScript">
<!--
	switch (queryField("frm")) {
		case "party2NET":
			document.frmPreoutlookemaillist2.outlookEmails.value = opener.document.frmSettings2.outlookEmails.value;
			//alert(opener.document.frmSettings2.outlookEmails.value);
			break;
		case "party2":
			document.frmPreoutlookemaillist2.outlookEmails.value = opener.document.frmSettings2.outlookEmails.value;
			break;
		case "users":
			document.frmPreoutlookemaillist2.outlookEmails.value = opener.document.frmReplaceuser.outlookEmails.value;
			break;
		case "group":
			document.frmPreoutlookemaillist2.outlookEmails.value = opener.document.frmManagegroup2.outlookEmails.value;
			break;
		default:
			document.frmPreoutlookemaillist2.outlookEmails.value = ""
	}
	
	if (document.frmPreoutlookemaillist2.outlookEmails.value == "-1") {
		setTimeout('window.location.reload();',100);
	} else {
		document.frmPreoutlookemaillist2.submit();
	}
	
-->
</script>
</body>
</html>
