    <%@ Page Language="C#" Inherits="ns_SettingSelect.SettingSelect1" %>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <!-- FB 2050 -->
    <meta http-equiv="X-UA-Compatible" content="IE=7" /> <!-- FB 2050 -->
    <!-- #INCLUDE FILE="inc/maintopNET.aspx" -->
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title></title>
    <script language="javascript" type="text/javascript" src="script/popupblockerchk.js"></script><%--Login Management START--%>
    <script language="javascript" src="extract.js" type="text/javascript"></script> 
    <script type="text/javascript" language="javascript"> 
    if(("<%=Session["UserID"]%>" != null) && ("<%=Session["NavLobby"]%>" != null))
    if((queryField("c") == "GH") && ("<%=Session["UserID"]%>" == "11") && ("<%=Session["NavLobby"]%>" == "1")) {
		alert("これはデフォルトアカウントシステムです。このアカウントは予定を立てるためには使用しないでください。");
		if(navigator.appName != "Microsoft Internet Explorer")
		window.location.reload(false);		
			}
	</script>	
	<%
	if (Session["NavLobby"] != null)
    {
        if(Session["NavLobby"].ToString() == "1")
            Session["NavLobby"] = "0";
    }
	 %> <%--Login Management END--%>
<script type="text/javascript" src="inc/functions.js"></script>
    <script language="javascript" type="text/javascript">

    function ExpandCollapse(img, str, frmCheck)
    {
    //alert("here");
        obj = document.getElementById(str);
        //alert(img.src + " : " + str + " : " + obj);
        if (obj != null)
        {
            if (frmCheck == true)
            {
                if (document.getElementById("chkExpandCollapse").checked)
                {
                    img.src = img.src.replace("minus", "plus");
                    obj.style.display = "none";
                    //alert("in if");
                }
                else
                {
                    img.src = img.src.replace("plus", "minus");
                    obj.style.display = "";
                    //alert("in else");
                }
            }
            if (frmCheck == false)
            {
                //alert("in else");
                if (img.src.indexOf("minus") >= 0)
                {
                    img.src = img.src.replace("minus", "plus");
                    obj.style.display = "none";
                }
                else
                {
                    img.src = img.src.replace("plus", "minus");
                    obj.style.display = "";
                }
            }            
        }
    }
    
    function ExpandAll()
    {
        //alert("in expand all");
        ExpandCollapse(document.getElementById("imgTemplate"),"<%=trTemplates1.ClientID %>", true);
        ExpandCollapse(document.getElementById("imgHistory"),"<%=trHistory1.ClientID %>", true);
        ExpandCollapse(document.getElementById("imgAVWO"),"<%=trAVWO1.ClientID %>", true);
        ExpandCollapse(document.getElementById("imgCATWO"),"<%=trCATWO1.ClientID %>", true);
        ExpandCollapse(document.getElementById("imgHKWO"),"<%=trHKWO1.ClientID %>", true);
        ExpandCollapse(document.getElementById("imgSearch"),"<%=trSearch1.ClientID %>", true);
    }
  
    </script>
    </head>
    <body>
    <form runat="server" id="frmSettingSelect">
    
    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" colspan="2">
                <h3><%-- Code Added for FB 1428--%>
                    <span ID="Field1" runat="server">myVRM ロビー</span>
                </h3>   
            </td>
            <td style="font-weight:bold" class="subtitleblueblodtext">
            <input id="chkExpandCollapse" type="checkbox" onclick="javascript:ExpandAll()" class="blackblodtext" />すべて収縮
            
            </td>
            
              
        </tr>
        <tr>
            <td align="center">
                <asp:Label ID="errLabel" runat="server" CssClass="lblError" ></asp:Label>
            </td>
        </tr>
        
        <tr>
            <td colspan="2" rowspan="3" align="left" valign="top">
                <table border="0" width="100%" align="left" cellpadding="0px" cellspacing="0px"> <%--Edited for FF--%>
                    <tr>
                        <td align="left" valign="top" style="width:350px"> <%--FB 1953--%>
                        <asp:Table ID="tblTemplates" runat="server" width="350px" CellPadding="0" CellSpacing="0" BorderStyle="None" BorderWidth="0">
                            <asp:TableRow runat="server" ID="trTemplates" CssClass="PortletHeader">
                                <asp:TableCell ID="TableCell1" Height="30px" runat="server" Width="100%"> 
                                    <table border="0"><tr><td width="98%" valign="middle" align="right">
                                    <%-- Code Added for FB 1428--%>
                                   <span ID="Field2" runat="server">マイ会議テンプレート</span>
                                    </td><td width="5%" valign="bottom">
                    <%--Window Dressing--%>
                                    <asp:ImageButton ID="imgTemplate" runat="server" ImageUrl="image/loc/nolines_minus.gif" Height="25" Width="25" vspace="0" hspace="0" />
                                    </td></tr>                                    
                                    </table>
                                </asp:TableCell>
                           </asp:TableRow>
                           <asp:TableRow runat="server" ID="trTemplates1"><asp:TableCell ID="TableCell2" runat="server" Width="100%">
                                <asp:DataGrid CellPadding="0" CellSpacing="0" BorderStyle="None" ID="dgTemplates" runat="server" AutoGenerateColumns="False" Width="100%" ShowFooter="true">
                                    <FooterStyle Font-Bold="True" HorizontalAlign="right"></FooterStyle>
                                    <AlternatingItemStyle CssClass="tableBody"></AlternatingItemStyle>
                                    <ItemStyle CssClass="tableBody"></ItemStyle>
                                    <HeaderStyle CssClass="tableHeader" ></HeaderStyle>
                                    <Columns>
                                    <%--Window Dressing--%>
                                    <asp:TemplateColumn HeaderStyle-CssClass="tableHeader" HeaderText="テンプレート名">
                                        <ItemTemplate>
                                            <asp:Label ID="lblTemplateName" Text='<%#DataBinder.Eval(Container, "DataItem.name") %>' runat="server" ></asp:Label>
                                        </ItemTemplate>
                                        <FooterTemplate>
                                             <asp:LinkButton runat="server" Text="さらに>>" ID="btnTemplateMore" OnClick="ViewMyTemplates" OnClientClick="DataLoading(1)"></asp:LinkButton>
                                        </FooterTemplate>
                                    </asp:TemplateColumn>
                                    </Columns>
                                </asp:DataGrid>
                                <asp:Label ID="lblNoTemplate" CssClass="lblError" Visible="false" Text="いいえテンプレートが見つかりませんでした。" runat="server" Width="200px"></asp:Label><%--Edited For FF--%>
                            </asp:TableCell>
                        </asp:TableRow>
                        <asp:TableRow runat="server" ID="trTemplates2" Width="100%">
                            <asp:TableCell ID="TableCell3" Height="30px" runat="server" Width="200px">&nbsp;</asp:TableCell>
                        </asp:TableRow>
                        <asp:TableRow runat="server" ID="trHistory" Width="100%">
                            <asp:TableCell ID="TableCell4" CssClass="PortletHeader" runat="server" Height="30" Width="100%">
                                    <table><tr><td width="98%" valign="middle" align="right">
                                    <%-- Code Added for FB 1428--%>
                                   <span id="Field3" runat="server">マイ会議履歴</span>
                                    </td><td width="2%" valign="middle">
                    <%--Window Dressing--%>
                                    <asp:ImageButton ID="imgHistory" runat="server" ImageUrl="image/loc/nolines_minus.gif" Height="25" Width="25"  />
                                    </td></tr></table>
                            </asp:TableCell>
                        </asp:TableRow>
                        <asp:TableRow runat="server" ID="trHistory1" Width="100%">                           
                            <asp:TableCell ID="TableCell5" runat="server" Width="100%">
                                <asp:datagrid CellPadding="0" CellSpacing="0" BorderStyle="None" id="dgHistory" runat="server" autogeneratecolumns="False" width="100%" Visible="False" OnEditCommand="ManageConference">
                                    <AlternatingItemStyle CssClass="tableBody"></AlternatingItemStyle>
                                    <ItemStyle CssClass="tableBody"></ItemStyle>
                                    <HeaderStyle CssClass="tableHeader" ></HeaderStyle>
                                    <Columns>
                                    <asp:BoundColumn DataField="confID" Visible="false">
                                        <HeaderStyle ForeColor="Black"/>
                                    </asp:BoundColumn>
                                    <%--Window Dressing--%>
                                    <asp:TemplateColumn HeaderStyle-CssClass="tableHeader" HeaderText="会議名" FooterStyle-HorizontalAlign="right">
                                        <%--<HeaderStyle BackColor="#c1c1c1" ForeColor="black" Font-Bold="True"></HeaderStyle>--%>
                                        <ItemTemplate>
                                            <asp:LinkButton ID="btnConferenceName" CommandName="Edit" runat="server" Text='<%#DataBinder.Eval(Container, "DataItem.confName") %>'  OnClientClick="DataLoading(1)" ></asp:LinkButton>
                                        </ItemTemplate>
                                    </asp:TemplateColumn>
                                    </Columns>
                                </asp:datagrid>
                                <asp:Label ID="lblNoHistory" CssClass="lblError" Visible="false" Text="いいえ歴史が見つかりませんでした。" runat="server" Width="200px"></asp:Label><%--Edited For FF--%>
                            </asp:TableCell>
                        </asp:TableRow>
                        <asp:TableRow runat="server" ID="trTemplates3" Width="100%">
                            <asp:TableCell ID="TableCell6" Height="30px" runat="server" Width="100%">&nbsp;</asp:TableCell>
                        </asp:TableRow>
                        <asp:TableRow runat="server" ID="trSearch" Width="100%">
                            <asp:TableCell ID="TableCell7" CssClass="PortletHeader" runat="server" Height="30" Width="100%">
                                <table><tr><td width="98%" valign="middle" align="right">
                                    <asp:Label ID="lblSearchTemplate" runat="server" Text="テンプレートの規定なし" ></asp:Label><%--Edited For FF--%><%--FB 1953--%>
                                    
                                    </td><td width="2%" valign="middle">
                    <%--Window Dressing--%>
                                    <asp:ImageButton ID="imgSearch" runat="server" ImageUrl="image/loc/nolines_minus.gif" Height="25" Width="25"  />
                                </td></tr></table>
                            </asp:TableCell>
                        </asp:TableRow>
                        <asp:TableRow runat="server" ID="trSearch1" Width="100%">                           
                            <asp:TableCell ID="TableCell8" runat="server" Width="100%">
                                <asp:datagrid CellPadding="0" CellSpacing="0" BorderStyle="None" id="dgSearch" runat="server" autogeneratecolumns="False" width="100%" Visible="True" ShowFooter="false" OnEditCommand="ManageConference">
                                    <FooterStyle Font-Bold="True" CssClass="tableBody" HorizontalAlign="right"></FooterStyle> <%--Edited for FF--%>
                                    <AlternatingItemStyle CssClass="tableBody"></AlternatingItemStyle>
                                    <ItemStyle CssClass="tableBody"></ItemStyle>
                                    <HeaderStyle CssClass="tableHeader" ></HeaderStyle>
                                    <Columns>
                                        <asp:BoundColumn DataField="ConferenceID" Visible="false"></asp:BoundColumn>
                                        <asp:BoundColumn DataField="ConferenceUniqueID" Visible="false" HeaderText="固有ID" HeaderStyle-ForeColor="blue"></asp:BoundColumn>
                                        <%--Window Dressing--%>
                                        <asp:TemplateColumn HeaderText="会議名" ItemStyle-CssClass="tableBody" HeaderStyle-CssClass="tableHeader" FooterStyle-HorizontalAlign="right">
                                            <ItemTemplate>
                                                <asp:LinkButton ID="btnConferenceName" CommandName="Edit" runat="server" Text='<%#DataBinder.Eval(Container, "DataItem.ConferenceName") %>'></asp:LinkButton>
                                            </ItemTemplate>
                                        </asp:TemplateColumn>
                                         <%--Window Dressing start --%>
                                        <asp:BoundColumn DataField="ConferenceDateTime" HeaderStyle-CssClass="tableHeader" HeaderText="日付/時刻" Visible="false"></asp:BoundColumn>
                                        <asp:TemplateColumn HeaderText="会議の開始時刻" ItemStyle-CssClass="tableBody" HeaderStyle-CssClass="tableHeader" FooterStyle-HorizontalAlign="right" ItemStyle-HorizontalAlign="left">
                                        <%--Window Dressing end --%>
                                            <ItemTemplate>
                                                <asp:Label Visible="false" ID="lblDuration" runat="server" Text='<%# DataBinder.Eval(Container, "DataItem.ConferenceDateTime") + " Min(s)" %>'></asp:Label> <%--<%# Int32.Parse(DataBinder.Eval(Container, "DataItem.ConferenceDuration").ToString())/60 + " Hr(s) " + Int32.Parse(DataBinder.Eval(Container, "DataItem.ConferenceDuration").ToString())%60 + " Min(s)" %>--%>
                                                <asp:Label ID="lblStartingIn" runat="server" Text='<%# DataBinder.Eval(Container, "DataItem.StartWithin") %>'></asp:Label>
                                            </ItemTemplate>
                                            <FooterTemplate>
                                               <asp:LinkButton ID="btnMoreSearch" Visible="true" Text="さらに>>" runat="server" OnClick="GetSearchConference" OnClientClick="DataLoading(1)"></asp:LinkButton>
                                            </FooterTemplate>
                                        </asp:TemplateColumn>
                                    </Columns>
                                </asp:datagrid>
                                <asp:Label ID="lblNoSearch" CssClass="lblError" runat="server" Width="200px"><%if (Application["Client"].ToString().ToUpper() == "MOJ"){%>No Hearing Found<%}else{ %>会議が見つかりませんでした<%}%><%--added for FB 1428 Start--%></asp:Label><%--Edited For FF--%>
                            </asp:TableCell>
                        </asp:TableRow>                        </asp:Table>
                        </td>
                        <td valign="top" align="left" style="width:350px"> <%--FB 1953--%>
                        <asp:Table ID="tblWorOrders" runat="server" width="350px" CellPadding="0" CellSpacing="0">

                        <asp:TableRow runat="server" ID="trAVWO"> 
                            <asp:TableCell ID="TableCell9" CssClass="PortletHeader" runat="server" Height="30" Width="100%"><%--Edited For FF--%>
                                <table><tr><td width="98%" valign="middle" align="right" nowrap>
                                    マイオーディオ/ビジュアルワークオーダー
                                    
                                    </td><td width="2%" valign="middle">
                    <%--Window Dressing--%>
                                    <asp:ImageButton ID="imgAVWO" runat="server" ImageUrl="image/loc/nolines_minus.gif" Height="25" Width="25"  />
                                </td></tr></table>
                            </asp:TableCell>
                            </asp:TableRow>
                        <asp:TableRow runat="server" ID="trAVWO1">
                        <asp:TableCell ID="TableCell10" runat="server" >
                            <asp:datagrid CellPadding="0" CellSpacing="0" BorderStyle="None" id="dgAVWO" runat="server" autogeneratecolumns="False" width="100%" ShowFooter="true">
                                    <FooterStyle Font-Bold="True" HorizontalAlign="right"></FooterStyle>
                                    <AlternatingItemStyle CssClass="tableBody"></AlternatingItemStyle>
                                    <ItemStyle CssClass="tableBody"></ItemStyle>
                                    <HeaderStyle CssClass="tableHeader" ></HeaderStyle>
                                    <Columns>
                                        <%--Window Dressing - Start--%>
                                        <asp:BoundColumn DataField="名前" ItemStyle-CssClass="tableBody" HeaderStyle-CssClass="tableHeader" HeaderText="ワークオーダー名"></asp:BoundColumn>
                                        <asp:TemplateColumn HeaderText="日付/時刻" ItemStyle-CssClass="tableBody" HeaderStyle-CssClass="tableHeader">
                                         <%--Window Dressing - end--%>
                                            <ItemTemplate>
                                                <asp:Label ID="Label2" runat="server" Text='<%#DataBinder.Eval(Container, "DataItem.StartByDate") + " " + DataBinder.Eval(Container, "DataItem.StartByTime") %>'></asp:Label>            
                                            </ItemTemplate>
                                            <FooterTemplate >
                                                <asp:LinkButton runat="server" Text="さらに>>" ID="btnAVMore" OnClick="ViewMyPendingAVWorkOrders" OnClientClick="DataLoading(1)"></asp:LinkButton>
                                            </FooterTemplate>
                                        </asp:TemplateColumn>
                                    </Columns>
                                    </asp:datagrid>
                                    <asp:Label ID="lblNoAVWO" Visible="false" Text="ワークオーダーが見つかりませんでした" CssClass="lblError" runat="server" Width="200px"></asp:Label>
                                    </asp:TableCell></asp:TableRow>
                        <asp:TableRow runat="server" ID="trAVWO2"><asp:TableCell ID="TableCell11" Height="30px" runat="server" HorizontalAlign="right" ></asp:TableCell></asp:TableRow>
                            <asp:TableRow runat="server" ID="trCATWO">              
                            <asp:TableCell ID="TableCell12" CssClass="PortletHeader" runat="server" Height="30" Width="100%"> <%--Edited For FF--%>
                                    <table><tr><td width="98%" valign="middle" align="right" nowrap>
                                        マイケータリングオーダー
                                        
                                        </td><td width="2%" valign="middle">
                    <%--Window Dressing--%>
                                        <asp:ImageButton ID="imgCATWO" runat="server" ImageUrl="image/loc/nolines_minus.gif" Height="25" Width="25"  />
                                    </td></tr></table>
                                </asp:TableCell>
                                </asp:TableRow><asp:TableRow runat="server" ID="trCATWO1">
                                <asp:TableCell ID="TableCell13" runat="server" >
                                <asp:datagrid CellPadding="0" CellSpacing="0" BorderStyle="None" id="dgCATWO" runat="server" autogeneratecolumns="False" width="100%">
                                    <FooterStyle Font-Bold="True" HorizontalAlign="right"></FooterStyle>
                                    <AlternatingItemStyle CssClass="tableBody"></AlternatingItemStyle>
                                    <ItemStyle CssClass="tableBody"></ItemStyle>
                                    <HeaderStyle CssClass="tableHeader" ></HeaderStyle>
                                    <Columns>
                                        <asp:BoundColumn DataField="Name" ItemStyle-CssClass="tableBody" HeaderStyle-CssClass="tableHeader" HeaderText="ワークオーダー名" ItemStyle-Width="60%">
                                        </asp:BoundColumn>
                                        <asp:TemplateColumn HeaderStyle-CssClass="tableHeader" ItemStyle-CssClass="tableBody" HeaderText="日付/時刻" ItemStyle-Width="60%">
                                            <ItemTemplate>
                                                <asp:Label ID="Label1" runat="server" Text='<%#DataBinder.Eval(Container, "DataItem.StartByDate") + " " +  DataBinder.Eval(Container, "DataItem.StartByTime") %>'></asp:Label>            
                                            </ItemTemplate>
                                            <FooterTemplate >
                                                <asp:LinkButton runat="server" Text="さらに>>" ID="btnCATMore" OnClick="ViewMyPendingCATWorkOrders" OnClientClick="DataLoading(1)"></asp:LinkButton>
                                            </FooterTemplate>
                                        </asp:TemplateColumn>
                                   </Columns>
                                    </asp:datagrid>
                                        <asp:Label ID="lblNoCATWO" Visible="false" Text="ワークオーダーが見つかりませんでした." CssClass="lblError" runat="server" Width="200px"></asp:Label>

                               </asp:TableCell></asp:TableRow>
                               <asp:TableRow runat="server" ID="trCATWO2"><asp:TableCell ID="TableCell14" Height="30px" runat="server" HorizontalAlign="right" >&nbsp;</asp:TableCell></asp:TableRow>
                               <asp:TableRow runat="server" ID="trHKWO">
                                <asp:TableCell ID="TableCell15" CssClass="PortletHeader" runat="server" Height="30" Width="100%">
                                    <table><tr><td width="98%" valign="middle" align="right" nowrap>
                                    マイ・ハウスキーピングワークオーダー
                                        
                                        </td><td width="2%" valign="middle">
                    <%--Window Dressing--%>
                                        <asp:ImageButton ID="imgHKWO" runat="server" ImageUrl="image/loc/nolines_minus.gif" Height="25" Width="25"  />
                                    </td></tr></table>
                            </asp:TableCell>
                           </asp:TableRow><asp:TableRow runat="server" ID="trHKWO1">
                           <asp:TableCell ID="TableCell16" runat="server" >
                                <asp:DataGrid CellPadding="0" CellSpacing="0" BorderStyle="None" id="dgHKWO" runat="server" autogeneratecolumns="False" width="100%">
                                    <FooterStyle Font-Bold="True" HorizontalAlign="right"></FooterStyle>
                                    <AlternatingItemStyle CssClass="tableBody"></AlternatingItemStyle>
                                    <ItemStyle CssClass="tableBody"></ItemStyle>
                                    <HeaderStyle CssClass="tableHeader" ></HeaderStyle>
                                    <Columns>
                                    <%-- Window Dressing --%>
                                    <asp:BoundColumn DataField="Name" ItemStyle-CssClass="tableBody" HeaderText="ワークオーダー名" HeaderStyle-CssClass="tableHeader" ItemStyle-Width="60%">
                                    </asp:BoundColumn>
                                    <asp:TemplateColumn HeaderText="日付/時刻" ItemStyle-CssClass="tableBody" ItemStyle-Width="40%" HeaderStyle-CssClass="tableHeader">
                                        <ItemTemplate>
                                            <asp:Label ID="Label3" runat="server" Text='<%#DataBinder.Eval(Container, "DataItem.StartByDate") + " " + DataBinder.Eval(Container, "DataItem.StartByTime") %>'></asp:Label>            
                                        </ItemTemplate>
                                        <FooterTemplate>
                                            <asp:LinkButton runat="server" Text="さらに>>" ID="btnHKMore" OnClick="ViewMyPendingHKWorkOrders" OnClientClick="DataLoading(1)"></asp:LinkButton>
                                        </FooterTemplate>
                                    </asp:TemplateColumn>
                                    </Columns>
                                </asp:datagrid>
                                <asp:Label ID="lblNoHKWO" Visible="false" Text="ワークオーダーが見つかりませんでした." CssClass="lblError" runat="server" Width="200px"></asp:Label>
                                </asp:TableCell></asp:TableRow>
                                <asp:TableRow runat="server" ID="trHKWO2"><asp:TableCell ID="TableCell17" Height="30px" runat="server" HorizontalAlign="right" ></asp:TableCell></asp:TableRow>
                            </asp:Table>                    
                        </td>
                    </tr>
                </table>
            </td>
            <td rowspan="3" style="width: 20%" valign="top" align="left">
                <asp:table id="actionTable" runat="server" width="235" CellPadding="0" CellSpacing="0">
                    <asp:TableRow ID="TableRow1" runat="server" CssClass="LinksHeader">
                    <%--Window Dressing--%>
                        <asp:TableCell ID="TableCell18" runat="server" VerticalAlign="Middle" HorizontalAlign="right">リンク&nbsp;&nbsp;&nbsp;</asp:TableCell>
                    </asp:TableRow>
                </asp:table>
            </td>
        </tr>
    </table>
    <input type="hidden" name="feedTicker" id="feedTicker" runat="server" />
    <input type="hidden" id="txtLAlerts" runat="server" value="" /> 
    <input type="hidden" id="txtHAlerts" runat="server" value="" /> 
    <asp:linkbutton id="btnCalendar" runat="server" OnClick="GoToCalendar" OnClientClick="javascript:DataLoading(1);">カレンダー</asp:linkbutton>
    <%-- Code changed for FB 1428--%>
    <asp:linkbutton id="btnConference" runat="server" OnClick="CreateNewConference" OnClientClick="DataLoading(1)">新規会議を作成</asp:linkbutton>
    <asp:linkbutton id="btnAVInvManagement" runat="server" OnClick="InventoryManagement" OnClientClick="DataLoading(1)">インベントリセット</asp:linkbutton>
    <asp:linkbutton id="btnCATMenuManagement" runat="server" OnClick="MenuManagement" OnClientClick="DataLoading(1)">ケータリングメニュー</asp:linkbutton>
    <asp:linkbutton id="btnHKGroupManagement" runat="server" OnClick="GroupManagement" OnClientClick="DataLoading(1)">新規ハウスキーピンググループ作成</asp:linkbutton>
    <asp:linkbutton id="btnNewAVWorkorder" runat="server" OnCommand="CreateNewWorkorder" CommandArgument="1" Text="新しいAVの作業オーダーを作成します。" OnClientClick="DataLoading(1)" ></asp:linkbutton>
    <asp:linkbutton id="btnNewCATWorkorder" runat="server" OnCommand="CreateNewWorkorder" CommandArgument="2" Text="新CAT作業オーダーを作成します。" OnClientClick="DataLoading(1)"></asp:linkbutton>
    <asp:linkbutton id="btnNewHKWorkorder" runat="server" OnCommand="CreateNewWorkorder" CommandArgument="3" Text="新しいHK作業オーダーを作成します。" OnClientClick="DataLoading(1)"></asp:linkbutton>
    <asp:linkbutton id="btnConferenceConsole" runat="server" OnClick="ConferenceConsole" OnClientClick="DataLoading(1)">会議操作卓</asp:linkbutton> <%--Dash Board M--%>
        &nbsp; &nbsp; &nbsp;
        <input id="opr" type="hidden" value="MODIFY" />
    <input type="hidden" id="helpPage" value="43" />
    <div id="dataLoadingDIV" style="z-index:1"></div>
        <br />
    </form>
    </body>
           <script language="javascript">
            if ("<%=Application["Client"].ToString().ToUpper()%>" != "WASHU")
                ExpandAll();
            else
                document.getElementById("chkExpandCollapse").checked = false;
            if ("<%=Application["Client"].ToString().ToUpper() %>"  == "NGC")
                document.getElementById("txtAlerts").innerText = document.getElementById("txtLAlerts").value;
        </script> 
    </html>
    <!-- #INCLUDE FILE="inc/mainbottomNET.aspx" --> 
