﻿.themeName {
NAME: Default
}
a:active {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; COLOR: blue; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
a:visited {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; COLOR: blue; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
a:Link {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; COLOR: blue; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
Body {
BACKGROUND-COLOR: #ffffff
}
.treeNode {
BACKGROUND-COLOR: Transparent; FONT-WEIGHT: bold
}
.treeRootNode {
BACKGROUND-COLOR: Transparent; FONT-WEIGHT: bold; BORDER-STYLE: none; COLOR: Blue
}
.treeSelectedNode {
BACKGROUND-COLOR: #E0E0E0; BORDER-STYLE: Solid; BORDER-COLOR: Gray; BORDER-WIDTH: 1px
}
.treeParentNode {
BORDER-STYLE: Transparent; COLOR: #404040; FONT-WEIGHT: bold
}
.treeLeafNode {
FONT-SIZE: smaller
}
.tabs {
POSITION: relative; LEFT: 10px; FONT-FAMILY: Helvetica, Myriad Pro, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; COLOR: black
}
.tab {
BORDER-BOTTOM: none; BACKGROUND-COLOR: #1a1a1a; BACKGROUND: url(../../../../../image/tab-small-normal2.png) no-repeat; BACKGROUND-POSITION: top left; COLOR: #a1a1a1; HEIGHT: 55px; PADDING: 0px /* FB 2050 */
}
.tabs a {
FONT-FAMILY: Helvetica, Myriad Pro, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; COLOR: white; TEXT-DECORATION: none; VERTICAL-ALIGN: middle
}
.tabs a:selected {
FONT-FAMILY: Helvetica, Myriad Pro, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.tab a {
FONT-FAMILY: Helvetica, Myriad Pro, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none; COLOR: black
}
.selectedTab {
BORDER-BOTTOM: none; BACKGROUND: url(../../../../../image/tab-small-selected2.png) no-repeat; BACKGROUND-POSITION: top left; COLOR: black; HEIGHT: 55px; PADDING: 0px /* FB 2050 */
}
.selectedTab a {
BORDER-BOTTOM: none; BACKGROUND: url(../../../../../image/tab-small-selected2.png) no-repeat; BACKGROUND-POSITION: top left; COLOR: white; FONT-WEIGHT: bold; HEIGHT: 55px; PADDING: 0px /* FB 2050 */
}
.tabContents {
BACKGROUND-COLOR: #f3f3f3; PADDING: 7px
}
.tabContents a {
FONT-FAMILY: Helvetica, Myriad Pro, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; COLOR: blue; TEXT-DECORATION: none
}
.tabContents a:visited {
FONT-FAMILY: Helvetica, Myriad Pro, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; COLOR: blue; TEXT-DECORATION: none
}
.tabContents a:hover {
FONT-FAMILY: Helvetica, Myriad Pro, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; COLOR: blue; TEXT-DECORATION: underline
}
.tabContents a:active {
FONT-FAMILY: Helvetica, Myriad Pro, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; COLOR: blue; TEXT-DECORATION: underline
}
.lblError {
BACKGROUND-COLOR: Transparent; COLOR: #cc0000; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING: 2px 1px 2px 1px; BORDER: inherit
}
.selectedColumn {
BACKGROUND-COLOR: #86c328; COLOR: Yellow; FONT-WEIGHT: bold; BORDER-COLOR: #86c328; BORDER-BOTTOM: #86c328 1px solid; BORDER-LEFT: #86c328 1px solid; BORDER-TOP: #86c328 1px solid; BORDER-RIGHT: #86c328 1px solid
}
.tableHeader {
BACKGROUND-COLOR: #a1a1a1; COLOR: #000000; FONT-WEIGHT: bold; BORDER-COLOR: #a1a1a1; BORDER-BOTTOM: #a1a1a1 1px solid; BORDER-LEFT: #a1a1a1 1px solid; BORDER-TOP: #a1a1a1 1px solid; BORDER-RIGHT: #a1a1a1 1px solid
}
.tableBody {
BACKGROUND-COLOR: #e1e1e1; COLOR: #000000; HEIGHT: 25px; CELLSPACING: 0px; CELLPADDING: 0px
}
.PortletHeader {
BACKGROUND: url(../../../../../image/tableheader.png) no-repeat 100% 100%; COLOR: #000000; FONT-WEIGHT: bold; VERTICAL-ALIGN: top
}
.LinksHeader {
BACKGROUND: url(../../../../../image/linksheader.png) no-repeat 100% 100%; COLOR: #000000; FONT-WEIGHT: bold; VERTICAL-ALIGN: top; HEIGHT: 30px
}
.altColoredBackground {
BACKGROUND-COLOR: #86c328
}
A.s:link {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #efd7ef; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.s:visited {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #efd7ef; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.s:active {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #efd7ef; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.s:hover {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #ff3300; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.s2 {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: gray; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.sb1:link {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: purple; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.sb1:visited {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: purple; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.sb1:active {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: purple; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.sb1:hover {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #ff3300; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.sb2:link {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: black; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.sb2:visited {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: black; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.sb2:active {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: black; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.sb2:hover {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #ff3300; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.t:link {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #fff7ce; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.t:visited {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #fff7ce; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.t:active {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #fff7ce; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.t:hover {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #ff3300; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.tb:link {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: orange; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.tb:visited {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: orange; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.tb:active {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: orange; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.tb:hover {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #ff3300; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.fb:link {
FONT-WEIGHT: bold; FONT-SIZE: 11pt; VERTICAL-ALIGN: bottom; COLOR: #00ff33; FONT-FAMILY: Century Gothic, Arial; TEXT-DECORATION: none
}
A.fb:visited {
FONT-WEIGHT: bold; FONT-SIZE: 11pt; VERTICAL-ALIGN: bottom; COLOR: #00ff33; FONT-FAMILY: Century Gothic, Arial; TEXT-DECORATION: none
}
A.fb:active {
FONT-WEIGHT: bold; FONT-SIZE: 11pt; VERTICAL-ALIGN: bottom; COLOR: #00ff33; FONT-FAMILY: Century Gothic, Arial; TEXT-DECORATION: none
}
A.fb:hover {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; COLOR: #ccff00; FONT-STYLE: italic; FONT-FAMILY: Arial, Century Gothic; TEXT-DECORATION: none
}
A.e:link {
FONT-WEIGHT: bold; FONT-SIZE: 7pt; VERTICAL-ALIGN: bottom; TEXT-TRANSFORM: uppercase; COLOR: black; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
A.e:visited {
FONT-WEIGHT: bold; FONT-SIZE: 7pt; VERTICAL-ALIGN: bottom; TEXT-TRANSFORM: uppercase; COLOR: black; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
A.e:active {
FONT-WEIGHT: bold; FONT-SIZE: 7pt; VERTICAL-ALIGN: bottom; TEXT-TRANSFORM: uppercase; COLOR: black; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
A.e:hover {
FONT-WEIGHT: bold; FONT-SIZE: 7pt; VERTICAL-ALIGN: bottom; TEXT-TRANSFORM: uppercase; COLOR: #ff3300; FONT-FAMILY: Arial, Helvetica
}
A.callink:visited {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #009900; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.callink:active {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #009900; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.callink:hover {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: darkgreen; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.tl:link {
FONT-WEIGHT: bold; FONT-SIZE: 9pt; VERTICAL-ALIGN: bottom; COLOR: black; FONT-FAMILY: Tahoma, Arial; TEXT-DECORATION: none
}
A.tl:visited {
FONT-WEIGHT: bold; FONT-SIZE: 9pt; VERTICAL-ALIGN: bottom; COLOR: black; FONT-FAMILY: Tahoma, Arial; TEXT-DECORATION: none
}
A.tl:active {
FONT-WEIGHT: bold; FONT-SIZE: 9pt; VERTICAL-ALIGN: bottom; COLOR: black; FONT-FAMILY: Tahoma, Arial; TEXT-DECORATION: none
}
A.tl:hover {
FONT-WEIGHT: bold; FONT-SIZE: 9pt; VERTICAL-ALIGN: bottom; COLOR: #ff3300; FONT-FAMILY: Tahoma, Arial; TEXT-DECORATION: none
}
A.sttitlelink:link {
FONT-WEIGHT: bold; FONT-SIZE: 7pt; TEXT-TRANSFORM: uppercase; COLOR: black; PADDING-TOP: 10pt; FONT-FAMILY: Arial, Helvetica
}
A.sttitlelink:visited {
FONT-WEIGHT: bold; FONT-SIZE: 7pt; TEXT-TRANSFORM: uppercase; COLOR: black; PADDING-TOP: 10pt; FONT-FAMILY: Arial, Helvetica
}
A.sttitlelink:active {
FONT-WEIGHT: bold; FONT-SIZE: 7pt; TEXT-TRANSFORM: uppercase; COLOR: black; PADDING-TOP: 10pt; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: underline
}
A.sttitlelink:hover {
FONT-WEIGHT: bold; FONT-SIZE: 7pt; TEXT-TRANSFORM: uppercase; COLOR: lightblue; PADDING-TOP: 10pt; FONT-FAMILY: Arial, Helvetica
}
.iframe {
SCROLLBAR-FACE-COLOR: magenta
}
H3 {
FONT-SIZE: 16pt; MARGIN: 0px 5px 2px; COLOR: #046380; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.lblMessage {
BACKGROUND-COLOR: Transparent; COLOR:#006400; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING: 2px 1px 2px 1px; BORDER: inherit
}
H6 {
FONT-SIZE: 12pt; COLOR: black; FONT-FAMILY: Arial
}
H7 {
FONT-SIZE: 12pt; COLOR: black; FONT-FAMILY: Arial
}
TD {
FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial
}
SELECT {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px inset; COLOR: black; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
TEXTAREA {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px inset; WIDTH: 213px; COLOR: black; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
LABEL {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; COLOR: black; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.altText {
BORDER-COLOR: #A7958B; BORDER-RIGHT: #A7958B 1px inset; BORDER-TOP: #A7958B 1px inset; FONT-SIZE: 12; BORDER-LEFT: #A7958B 1px inset; COLOR: #000000; BORDER-BOTTOM: #A7958B 1px inset; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.altReadonlyText {
BORDER-RIGHT: black 1px outset; BORDER-TOP: black 1px outset; FONT-SIZE: 10pt; BORDER-LEFT: black 1px outset; COLOR: black; BORDER-BOTTOM: black 1px outset; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.altTextReadOnly {
BORDER-RIGHT: black thin solid; BORDER-TOP: black thin solid; FONT-SIZE: 10pt; BORDER-LEFT: black thin solid; COLOR: white; BORDER-BOTTOM: black thin solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: lightgrey
}
.short3TextareaFormat {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px inset; WIDTH: 120px; COLOR: black; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial
}
.short4TextareaFormat {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-SIZE: 9pt; BORDER-LEFT: black 1px inset; WIDTH: 115px; COLOR: black; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial
}
.short2TextareaFormat {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px inset; WIDTH: 170px; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial
}
.shortTextareaFormat {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px inset; WIDTH: 193px; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial
}
.longTextareaFormat {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: black 1px inset; WIDTH: 400px; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial
}
.disabledShort1TextareaFormat {
BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 6pt; BORDER-LEFT: black 1px solid; WIDTH: 160px; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial
}
.disabledShort2TextareaFormat {
BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 7pt; BORDER-LEFT: black 1px solid; WIDTH: 180px; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial
}
.disabledShort8TextareaFormat {
BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 7pt; BORDER-LEFT: black 1px solid; WIDTH: 12px; COLOR: gray; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial
}
.disabled8TextareaFormat {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px inset; WIDTH: 250px; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial
}
.disabledShortTextareaFormat {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px inset; WIDTH: 335px; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial
}
.disabledTextareaFormat {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px inset; WIDTH: 720px; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial
}
.disabledWhiteShortTextareaFormat {
BORDER-RIGHT: black 1px outset; BORDER-TOP: black 1px outset; FONT-SIZE: 10pt; BORDER-LEFT: black 1px outset; WIDTH: 410px; BORDER-BOTTOM: white 7px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: white
}
.disabledWhiteTextareaFormat {
BORDER-RIGHT: black 1px outset; BORDER-TOP: black 1px outset; FONT-SIZE: 10pt; BORDER-LEFT: black 1px outset; WIDTH: 500px; BORDER-BOTTOM: white 7px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: white
}
.TestInXMLTextareaFormat {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px inset; WIDTH: 700px; COLOR: black; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.disabledInputFormat {
BORDER-RIGHT: black 1px outset; BORDER-TOP: black 1px outset; FONT-SIZE: 10pt; BORDER-LEFT: black 1px outset; BORDER-BOTTOM: #fff7e7 1px outset; FONT-FAMILY: Arial; BACKGROUND-COLOR: #fff7e7
}
.disabledShortInputFormat {
BORDER-RIGHT: black 1px outset; BORDER-TOP: black 1px outset; FONT-SIZE: 10pt; BORDER-LEFT: black 1px outset; COLOR: black; BORDER-BOTTOM: #fff7e7 1px outset; FONT-FAMILY: Arial
}
.altButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial; BACKGROUND-COLOR: #A7958B; BORDER-BOTTOM: black 1px outset; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.normalButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial; BORDER-BOTTOM: black 1px outset; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.normalFormat {
BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; BORDER-LEFT: 1px outset; BORDER-BOTTOM: 1px outset; BACKGROUND-COLOR: transparent
}
.altixsButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altLongSmallButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 180pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altLong10BlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 360pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altLong3BlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 220pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altLong3BlueButtonDisabled {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 220pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altLong2BlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 200pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altLong1BlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 180pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altLongBlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 160pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altLongBlueButtonDisabled {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 160pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altBlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 140pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altBlueButtonDisabled {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 140pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altShort0BlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 130pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altShort1BlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 118pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altShortBlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 80pt; CURSOR: pointer; COLOR: #ffffff; BORDER-BOTTOM: black 1px outset; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altShort4BlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 70pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altShort5BlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 90pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altShort6BlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 110pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altShort7BlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 60pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altShort8BlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 30pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 12pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altShort2BlueButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 60pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altshort3Bluebuttonformat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 40pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altshort3Bluebuttondisabled {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 40pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altRedButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 140pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altShortYellowButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 113pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altYellowButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 140pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altLongYellowButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 160pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altLong1YellowButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 180pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; FONT-STRETCH: condensed; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altDarkBlueSButtonFormat {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 45pt; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial; HEIGHT: 12pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}
.altLong1SelectFormat {
BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px solid; WIDTH: 320px; COLOR: black; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.altLongSelectFormat {
BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px solid; WIDTH: 250px; COLOR: black; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.altLong0SelectFormat {
BORDER-RIGHT: #A7958B 1px solid; BORDER-TOP: #A7958B 1px solid; FONT-SIZE: 12; BORDER-LEFT: #A7958B 1px solid; WIDTH: 215px; COLOR: #000000; BORDER-BOTTOM: #A7958B 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.alt2SelectFormat {
BORDER-RIGHT: #A7958B 1px inset; BORDER-TOP: #A7958B 1px solid; FONT-SIZE: 12; BORDER-LEFT: #A7958B 1px inset; WIDTH: 120px; COLOR: #000000; BORDER-BOTTOM: #A7958B 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.altlSelectFormat {
BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px solid; WIDTH: 166px; COLOR: black; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.altSelectFormat {
BORDER-RIGHT: #A7958B 1px inset; BORDER-TOP: #A7958B 1px inset; FONT-SIZE: 12; BORDER-LEFT: #A7958B 1px inset; WIDTH: 172px; COLOR: #000000; BORDER-BOTTOM: #A7958B 1px inset; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.altSmall0SelectFormat {
BORDER-RIGHT: #A7958B 1px solid; BORDER-TOP: #A7958B 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12; BORDER-LEFT: #A7958B 1px solid; WIDTH: 110px; COLOR: #000000; BORDER-BOTTOM: #A7958B 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.altSmallSelectFormat {
BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: black 1px solid; WIDTH: 95px; COLOR: black; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.SelectFormat {
BORDER-RIGHT: #A7958B 1px inset; BORDER-TOP: #A7958B 1px solid; FONT-SIZE: 12; BORDER-LEFT: #A7958B 1px inset; WIDTH: 158px; COLOR: #000000; BORDER-BOTTOM: #A7958B 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.altShort1SelectFormat {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-SIZE: 9pt; BORDER-LEFT: black 1px inset; WIDTH: 81px; COLOR: black; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.altShortSelectFormat {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px inset; WIDTH: 80px; COLOR: black; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.bigblueblodtext {
MARGIN-TOP: 10pt; FONT-WEIGHT: bold; FONT-SIZE: 12pt; TEXT-TRANSFORM: capitalize; COLOR: black; LINE-HEIGHT: 20pt; PADDING-TOP: 10pt; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.blueblodtext {
MARGIN-TOP: 10pt; FONT-WEIGHT: bold; FONT-SIZE: 11pt; TEXT-TRANSFORM: capitalize; COLOR: black; LINE-HEIGHT: 20pt; PADDING-TOP: 10pt; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.tabtext {
FONT-WEIGHT: normal; FONT-SIZE: 10pt; CURSOR: pointer; COLOR: black; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: underline
}
.subtitleblueblodtext {
MARGIN-TOP: 10pt; FONT-WEIGHT: 800; FONT-SIZE: 11pt; COLOR: #046380; LINE-HEIGHT: 20pt; PADDING-TOP: 10pt; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.subtitlexxsblueblodtext {
MARGIN-TOP: 10pt; FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #046380; LINE-HEIGHT: 20pt; PADDING-TOP: 10pt; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.subtitle9bluetext {
MARGIN-TOP: 10pt; FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #046380; LINE-HEIGHT: 20pt; PADDING-TOP: 10pt; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.tableblackblodtext {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; TEXT-TRANSFORM: uppercase; COLOR: black; PADDING-TOP: 10pt; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.tableblueblodlinktext {
MARGIN-TOP: 10pt; FONT-WEIGHT: bold; FONT-SIZE: 7pt; VERTICAL-ALIGN: bottom; TEXT-TRANSFORM: uppercase; COLOR: black; PADDING-TOP: 10pt; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: underline
}
.tableblueblodtext {
MARGIN-TOP: 10pt; FONT-WEIGHT: bold; FONT-SIZE: 7pt; TEXT-TRANSFORM: uppercase; COLOR: black; PADDING-TOP: 10pt; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.tableblackblodlinktext {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; TEXT-TRANSFORM: uppercase; COLOR: black; PADDING-TOP: 10pt; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.contacttext {
FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: black; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.numwhiteblodtext {
MARGIN-TOP: 10pt; FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: white; PADDING-TOP: 10pt; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.blackbigblodtext {
FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: black; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.blackblodtext {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.blacktext {
FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.srcstext3 {
FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.srcstext2 {
FONT-SIZE: 7pt; TEXT-DECORATION: none
}
.srcstext1 {
FONT-SIZE: 9pt; TEXT-DECORATION: none
}
.srcstext {
FONT-SIZE: 8pt; TEXT-DECORATION: none
}
.cmmttext {
FONT-SIZE: 8pt; COLOR: black; FONT-STYLE: italic; TEXT-DECORATION: none
}
.orangesboldtext {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #3c5c82; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.blackxxxsboldtext {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.blackxxxstext {
FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.blackItalictext {
FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: italic; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.bigtext {
FONT-WEIGHT: bold; FONT-SIZE: 12pt; TEXT-DECORATION: none
}
.callinktext {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.lightgrayboldstext {
FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: gray; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.lightgrayboldtext {
FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: gray; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.reqfldText {
FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.reqfldstarText {
FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.cmtfldstarText {
FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.summaryText {
FONT-SIZE: 10pt; FONT-WEIGHT: bold; COLOR: #FF00FF; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.altTextareaFormat {
BORDER-RIGHT: black 1px inset; BORDER-TOP: black 3px solid; FONT-SIZE: 10pt; BORDER-LEFT: black 1px inset; COLOR: black; BORDER-BOTTOM: black 3px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: ghostwhite
}
.para_small {
FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica
}
UNKNOWN {
BORDER-RIGHT: #000 1px inset; BORDER-TOP: #fff 1px inset; DISPLAY: none; FONT-SIZE: 11px; BACKGROUND: #d4d0c8; BORDER-LEFT: #fff 1px inset; CURSOR: default; COLOR: #000; BORDER-BOTTOM: #000 1px inset; FONT-FAMILY: tahoma,Arial,sans-serif; POSITION: relative
}
.calendar TABLE {
BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #000 1px solid; FONT-SIZE: 11px; BACKGROUND: #d4d0c8; BORDER-LEFT: #000 1px solid; CURSOR: default; COLOR: #000; BORDER-BOTTOM: #fff 1px solid; FONT-FAMILY: tahoma,Arial,sans-serif
}
.calendar TD {
FONT-SIZE: 8pt
}
.calendar .button {
BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: center
}
.calendar .nav {
BACKGROUND: url(../image/calmenuarrow.gif) no-repeat 100% 100%
}
.calendar THEAD .title {
BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; BACKGROUND: #848078; PADDING-BOTTOM: 1px; BORDER-LEFT: #000 1px solid; COLOR: #fff; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: center
}
.calendar THEAD .headrow {

}
.calendar THEAD .daynames {

}
.calendar THEAD .name {
PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #f4f0e8; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: center
}
.calendar THEAD .weekend {
COLOR: #f00
}
.calendar THEAD .hilite {
BORDER-RIGHT: #000 1px inset; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px inset; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 1px inset; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px inset; BACKGROUND-COLOR: #e4e0d8
}
.calendar THEAD .active {
BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #c4c0b8
}
.calendar TBODY .day {
PADDING-RIGHT: 4px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 2em; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.calendar TABLE .wn {
BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 2px; BACKGROUND: #f4f0e8; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.calendar TBODY .rowhilite TD {
BACKGROUND: #e4e0d8
}
.calendar TBODY .rowhilite TD.wn {
BACKGROUND: #d4d0c8
}
.calendar TBODY TD.hilite {
BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid
}
.calendar TBODY TD.active {
BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid
}
.calendar TBODY TD.selected {
BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #e4e0d8; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid
}
.calendar TBODY TD.weekend {
COLOR: #f00
}
.calendar TBODY TD.today {
FONT-WEIGHT: bold; COLOR: #00f
}
.calendar TBODY .disabled {
COLOR: #999
}
.calendar TBODY .emptycell {
VISIBILITY: hidden
}
.calendar TBODY .emptyrow {
DISPLAY: none
}
.calendar TFOOT .footrow {

}
.calendar TFOOT .ttip {
BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 1px; BACKGROUND: #848078; PADDING-BOTTOM: 1px; BORDER-LEFT: #000 1px solid; COLOR: #fff; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: center
}
.calendar TFOOT .hilite {
BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 1px; BACKGROUND: #e4e0d8; PADDING-BOTTOM: 1px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid
}
.calendar TFOOT .active {
BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid
}
.combo {
BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fff 1px solid; DISPLAY: none; PADDING-LEFT: 1px; FONT-SIZE: smaller; BACKGROUND: #e4e0d8; LEFT: 0px; PADDING-BOTTOM: 1px; BORDER-LEFT: #fff 1px solid; WIDTH: 4em; CURSOR: default; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; POSITION: absolute; TOP: 0px
}
.combo .label {
PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.combo .label-IEfix {
PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.combo .label-IEfix {
WIDTH: 4em
}
.combo .active {
BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; BACKGROUND: #c4c0b8; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid
}
.combo .hilite {
BACKGROUND: #048; COLOR: #fea
}
.calendar TD.time {
PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #f4f0e8; TEXT-ALIGN: center
}
.calendar TD.time .hour {
BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: #fff
}
.calendar TD.time .minute {
BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: #fff
}
.calendar TD.time .ampm {
BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: #fff
}
.calendar TD.time .ampm {
TEXT-ALIGN: center
}
.calendar TD.time .colon {
PADDING-RIGHT: 2px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.calendar TD.time SPAN.hilite {
BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: #fff; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #766; BORDER-RIGHT-COLOR: #000
}
.calendar TD.time SPAN.active {
BORDER-LEFT-COLOR: #f00; BORDER-BOTTOM-COLOR: #f00; COLOR: #0f0; BORDER-TOP-COLOR: #f00; BACKGROUND-COLOR: #000; BORDER-RIGHT-COLOR: #f00
}
TD.celltitle {
BORDER-RIGHT: #888888 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #888888 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 7pt; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: bottom; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #888888 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #888888 1px solid; FONT-FAMILY: Arial, helvetica; WHITE-SPACE: nowrap; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
TD.celltitle A {
CURSOR: pointer; TEXT-DECORATION: underline
}
TD.coloredcell {
BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; COLOR: black; PADDING-TOP: 1px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial, helvetica; BACKGROUND-COLOR: #e0e0e0; TEXT-ALIGN: center
}
TD.noncoloredcell {
BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; COLOR: black; PADDING-TOP: 1px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial, helvetica; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
TD.coloredcell-ifrm {
BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; COLOR: black; PADDING-TOP: 1px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial, helvetica; BACKGROUND-COLOR: #e0e0e0; TEXT-ALIGN: center
}
TD.noncoloredcell-ifrm {
BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; COLOR: black; PADDING-TOP: 1px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial, helvetica; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
TD.labelcell {
TEXT-ALIGN: right
}
TD.fieldcell {
TEXT-ALIGN: left
}
.tabtabtreeNode {
BACKGROUND-COLOR: Transparent; FONT-WEIGHT: bold; FONT-SIZE: xx-small
}
.tabtreeRootNode {
BACKGROUND-COLOR: Transparent; FONT-WEIGHT: bold; BORDER-STYLE: none; COLOR: Blue; FONT-SIZE: xx-small
}
.tabtreeSelectedNode {
BACKGROUND-COLOR: #E0E0E0; BORDER-STYLE: Solid; BORDER-COLOR: Gray; BORDER-WIDTH: 1px; FONT-SIZE: xx-small
}
.tabtreeParentNode {
BORDER-STYLE: Transparent; COLOR: #404040; FONT-WEIGHT: bold; FONT-SIZE: xx-small
}
.tabtreeLeafNode {
FONT-SIZE: xx-small
}
.blueblodtexthover {
MARGIN-TOP: 10pt; FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: black; LINE-HEIGHT: 20pt; PADDING-TOP: 10pt; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.eventtext {
FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
.tabContentshover {
BACKGROUND-COLOR: #f3f3f3; PADDING: 7px; COLOR: black; Z-INDEX: 999
}
.modalBackground {
BACKGROUND-COLOR: Gray; FILTER: alpha(opacity=70) !important; OPACITY: 0.7
}
.rbroundbox {
BACKGROUND:  url(../../../../../image/nt.gif) repeat
}
.rbtop div {
BACKGROUND: url(../../../../../image/tl.gif) no-repeat top left
}
.rbtop {
BACKGROUND: url(../../../../../image/tr.gif) no-repeat top right
}
.rbbot div {
BACKGROUND: url(../../../../../image/bl.gif) no-repeat bottom left
}
.rbbot {
BACKGROUND: url(../../../../../image/br.gif) no-repeat bottom right
}
.rbtop div, .rbtop, .rbbot div, .rbbot {
HEIGHT: 7px; FONT-SIZE: 1px
}
.rbcontent {
MARGIN: margin: 0 7px
}
.rbroundbox {
MARGIN: margin: 1em auto
}
a.SelectedItem:link, a.SelectedItem:visited {
COLOR: #000000
}
a.SelectedItem:hover {
COLOR: #808080
}
a.SelectedItem:active {
COLOR: #ffffff; BACKGROUND-COLOR: #ACBACC
}
.cellbackcolor {
COLOR: #ffffff; BACKGROUND-COLOR: #ACBACC
}
.templateTable {
BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #F3F8F7
}
.templateTable td {
BORDER: Solid 1px #C2D4DA
}
.templateCaption {
BACKGROUND-COLOR: #ECF2F3
}
.DashBoardHeader {
BACKGROUND-COLOR: #3075ae; FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #f1f1f1; FONT-FAMILY: Arial
}
.DashBoardGridHeader {
BACKGROUND-COLOR: #3075ae; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f1f1f1; FONT-FAMILY: Calibri; HEIGHT: 1px
}
.DashBoardGridItem {
BACKGROUND-COLOR: #A9D9E8; FONT-SIZE: 10px; FONT-FAMILY: Calibri
}
.DashBoardGridItem {
BACKGROUND-COLOR: #A9D9E8; FONT-SIZE: 10px; FONT-FAMILY: Calibri
}
.DashBoardGridItemAlternating {
BACKGROUND-COLOR: #F0F8FF; FONT-SIZE: 5px; FONT-FAMILY: Calibri
}
.DashBackGround {
BACKGROUND-COLOR: #F0F8FF
}
.DashboardText {
FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.DevXGrid {
VERTICAL-ALIGN: middle; FONT-FAMILY: Arial; FONT-SIZE: 11px; FONT-WEIGHT: bold; COLOR: green
}
HeaderFont {
FONT-SIZE: 16pt; MARGIN: 0px 5px 2px; COLOR: #046380; FONT-FAMILY: Arial; TEXT-ALIGN: right; FONT-WEIGHT:bold;
}