﻿<br/>
<br/>
<hr width="80%"/>


<script Language="JavaScript">
<!--

	var mt = "";
	var _d = document;

	mt += "<center><table border='0' cellpadding='2' cellspacing='2'>";
	mt += "<tr valign='bottom'>";
	mt += "<td colspan=5 align=center>";
	mt += "<span class=srcstext2>myVRM Version <%=Application["Version"]%>(c), Copyright <%=Application["CopyrightsDur"].ToString()%> <a href='http://www.myvrm.com' target='_blank'>myVRM.com</a>.  All Rights Reserved.</span>";//FB 1648
	mt += "</td>";
	mt += "</tr>";
	mt += "</table></center>";


	_d.write(mt)

//-->
</script>


</body>
</html>