#loading {
	position:absolute;
	left:300;
	top:50;
	visibility:visible;
}

#myapplet {
	position:absolute;
	left:40;
	top:60;
	visibility:hide;
}

#title {
	position:absolute;
	left:0;
	top:5;
	visibility:visible;
}

#others {
	position:absolute;
	left:0;
	top:70;
	visibility:visible;
}


A.appletlink:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #0080ff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: underline
}
A.appletlink:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #0080ff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: underline
}
A.appletlink:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #0080ff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.appletlink:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #ff3300;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}

