table.commtableleft {width: 900px; border: 0px; margin: 5px 5px 10px 5px; padding: 0px; text-align: left; font-weight: normal; font-size: 12pt;}
table.commtablecenter {width: 900px; border: 0px; margin: 5px 5px 10px 5px; padding: 0px; text-align: center; font-weight: normal; font-size: 12pt;}

table.commbtntable-1 {width: 600px; border: 0px; margin: 5px 5px 10px 5px; padding: 0px; text-align: center; font-weight: normal; font-size: 12pt;}
table.commbtntable-1 td {text-align: center;}

table.btmbtntable {width: 800px; border: 0px; margin: 5px 5px 5px 5px; padding: 0px; text-align: center; font-weight: normal; font-size: 10pt;}
table.btmbtntable td {text-align: center;}
