<%@ Page Language="C#" AutoEventWireup="true" Inherits="en_ShowError.ShowError" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- #INCLUDE FILE="inc/maintopNET.aspx" -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>myVRM Video Conference Reservation Scheduler</title>
</head>
<body>
<%
if(paramWinType == "inifr") 
{
%>

<script language="JavaScript" type="text/javascript">
<!--

	parent.window.location.href = "showerror.aspx";

-->
</script>

<%
}
%>


<script language="javascript" src="extract.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
<!--

	if ( (opener) && (queryField("winType") != "pop") )
		location.href = "showerror.aspx?winType=pop";

-->
</script>








<%
if((Session["sMenuMask"] == "") || (paramWinType == "pop") || (paramWinType == "ifr"))
{
%>

<!--
<body bottommargin="0" leftmargin="0" rightmargin="0" topmargin="0" marginheight="0" marginwidth="0">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr valign="top">
      <td background="image/vrmtop.gif" width="100%" height="72">
      </td>
    </tr>
  </table>
  -->
  
<!-- #INCLUDE FILE="inc/maintop4.asp" -->
  
<%
}
else
{
%>

<!--maintopNet.asp-->
<%
}
%>

<br>
<table width="100%">

  <tr>
    <td align="center" height="10">
    </td>
  </tr>
  <tr>
    <td align="center">
      <font size="4"><b> Your request could not be completed due to the following reason:</b></font>
    </td>
  </tr>
  <tr>
    <td align="center" height="20">
    </td>
  </tr>
    <tr>
    <td align="center">
<% 
	
	if(Session["errMsg"] != null)
	{
	    if(Session["errMsg"].ToString() != "")
	    {
	    String strError = "";

	    strError = strError + "<font size='3' color='red'><b>";
	    strError = strError + Session["errMsg"].ToString();
    	
	    if(Session["errCode"].ToString() != "")
	    
	    {
		    strError = strError + "<br>";
		    strError = strError + "Error Number #" + Session["errCode"].ToString();
        }    	
	    strError = strError + "</b></font>"; 
	    Response.Write(strError);  
	    }
	}

	 
%> 
    </td>
  </tr>
</table>

<br/>



	
<table width="100%">
  <tr>
    <td align="center">
      &nbsp;
<%
if((Session["sMenuMask"].ToString() == "") || (paramWinType == "pop") || (paramWinType == "ifr")) 
{
%>
      </td>
    </tr>
  </table>	


<%
}
else
{
%>

<br/><br/><br/>
<%
}
%>
</body>
<%--code added for Soft Edge button--%>
<script type="text/javascript" src="inc/softedge.js"></script>
<!-- #INCLUDE FILE="inc/mainbottomNET.aspx" -->
</html>
