<%@ Page Language="C#" AutoEventWireup="true"  Inherits="ns_ifrmsaveingroup.ifrmsaveingroup" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <script language="javascript1.1" src="extract.js" type="text/javascript"></script>




<%--<form name="frmSaveingroup" method="post" action="dispatcher/userdispatcher.asp">--%> <%--Login Mangement--%>
<form name="frmSaveingroup" method="post"> <%--Login Mangement--%>
  <input type="hidden" name="from" value="SaveInGroup" />
  <input type="hidden" name="cmd" value="SetGroup"/>
  <input type="hidden" name="GroupID" value="new"/>
  <input type="hidden" name="GroupName" value=""/>
  <input type="hidden" name="GroupOwnerID" value="<%=Session["userID"]%>"/>
  <input type="hidden" name="GroupDescription" value=""/>
  <input type="hidden" name="GroupPrivate" value=""/>
  <input type="hidden" name="GroupPublic" value="" /> <!--//Code Added  for Aspx Conversion-->
  <input type="hidden" name="PartysInfo" value=""/>
</form>  

</body>
</html>
 <%--code added for Soft Edge button--%>
<script type="text/javascript" src="inc/softedge.js"></script>