<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DataImport.aspx.cs" Inherits="ns_DataImport.DataImport" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <!-- FB 2050 -->
<meta http-equiv="X-UA-Compatible" content="IE=7" /> <!-- FB 2050 -->
<!-- #INCLUDE FILE="inc/maintopNET.aspx" --> 

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<script language="javascript">

function DataLoading()
{
    var obj = document.getElementById("tblDataImport");
    if (obj != null)
        obj.style.display="";
}
</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>Database Import</title>
  <link rel="stylesheet" title="Expedite base styles" type="text/css" href="<%=Session["OrgCSSPath"]%>"> <%--Organization CSS Module --%>
</head>
<body>
    <form id="frmDataImport" runat="server">
    <br /><br />
    <center>
        <asp:Label ID="errLabel" runat="server" CssClass="lblError"></asp:Label>
    </center>
    <br /><br /><br />
        <h3 style="text-align: center">
            Data Import Tool</h3>
            <br /><br />            
            <table width="100%" bgcolor="white" cellpadding="1" cellspacing="0">
                <tr>
                    <td width="40%" align="center">
                        <b>External Database Type:</b>&nbsp;
                        <asp:DropDownList CssClass="altLong0SelectFormat" ID="lstDatabaseType" runat="server">
                            <asp:ListItem Selected="True" Text="Rendezvous" Value="1"></asp:ListItem>
                        </asp:DropDownList>
                    </td>
                    <td align="left">
                        <asp:FileUpload ID="fleMasterCSV" Width="80%" EnableViewState="true" runat="server" CssClass="altText" />  
                        <asp:Button ID="btnGetDataTable" runat="server" OnClick="GenerateDataTable" CssClass="altShortBlueButtonFormat" Text="Upload" />
                    </td>
                </tr>
            </table>
            <br /><br />
            <table width="100%" bgcolor="white" cellpadding="1" cellspacing="0" border="1" >
                <tr>
                    <td style="text-align: center">
                        1</td>
                    <td>
                        Import Tier1(s)</td>
                    <td width="20%" align="center">
                        <asp:Button ID="btnImportTier1" runat="server" CssClass="altShortBlueButtonFormat"
                            Text="Soumettre" OnClick="ImportTier1s" /></td>
                </tr>
                <tr bgcolor=Gainsboro>
                    <td style="text-align: center">
                        2</td>
                    <td>
                        Import Tier2(s)</td>
                    <td align="center">
                        <asp:Button ID="btnImportTier2" runat="server" CssClass="altShortBlueButtonFormat"
                            Text="Soumettre" OnClick="ImportTier2s" /></td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        3</td>
                    <td>
                        Import Department(s)</td>
                    <td align="center">
                        <asp:Button ID="btnImportDepartment" runat="server" CssClass="altShortBlueButtonFormat"
                            Text="Soumettre" OnClick="ImportDepartments" /></td>
                </tr>
                <tr bgcolor=Gainsboro>
                    <td style="text-align: center">
                        4</td>
                    <td>
                        Import Endpoint(s)</td>
                    <td align="center">
                        <asp:Button ID="btnImportEndpoints" runat="server" CssClass="altShortBlueButtonFormat"
                            Text="Soumettre" OnClick="ImportEndpoints" /></td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        5</td>
                    <td>
                        Import Room(s)</td>
                    <td align="center">
                        <asp:Button ID="btnImportRooms" runat="server" CssClass="altShortBlueButtonFormat"
                          Text="Soumettre" OnClick="ImportRooms" /></td>
                </tr>
                <tr bgcolor=Gainsboro>
                    <td style="text-align: center">
                        6</td>
                    <td>
                        Import User(s)</td>
                    <td align="center">
                        <asp:Button ID="btnImportUsers" runat="server" CssClass="altShortBlueButtonFormat"
                            Text="Soumettre" OnClick="ImportUsers" OnClientClick="javascript:DataLoading()" /></td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        7</td>
                    <td>
                        Import Conference(s)</td>
                    <td align="center">
                        <asp:Button ID="btnImportConferences" runat="server" CssClass="altShortBlueButtonFormat" Text="Soumettre" OnClick="ImportConferences" OnClientClick="javascript:DataLoading()" /></td>
                </tr>
                 <tr bgcolor=Gainsboro>
                    <td style="text-align: center">
                        8</td>
                    <td>
                        Import Default CSS XML
                        
                        <asp:FileUpload ID="cssXMLFileUpload" Width="50%" EnableViewState="true" runat="server" CssClass="altText" />  
                        
                    </td>
                    <td align="center">
                        <asp:Button ID="btnImportDefaultCSSXML" runat="server" CssClass="altShortBlueButtonFormat" OnClick="ImportDefaultCSSXML" Text="Soumettre" OnClientClick="javascript:DataLoading()" />
                   </td>
                </tr>
            </table>
        <br />
        <table>
            <tr>
                <td align="left">
                    <b>NOTE:</b> This section should only be accessed from the Serveur d'Internet using localhost. The data file should reside on the Serveur d'Internet it self.
                </td>
            </tr>
        </table>
        <table id="tblDataImport">
            <tr>
                <td>
                    <b><font color="#FF00FF" size="2">Data loading ...</font></b>&nbsp;&nbsp;&nbsp;&nbsp;<img border="0" src="image/wait1.gif" width="100" height="12">
                </td>
            </tr>
        </table>
    </form>
<br />
<br />
<p>&nbsp;</p>
<p>&nbsp;</p>
<script language="javascript">
document.getElementById("tblDataImport").style.display="none";
</script>
<%--code added for Soft Edge button--%>
<script type="text/javascript" src="inc/softedge.js"></script>
<!-- #INCLUDE FILE="inc/mainbottomNET.aspx" --> 
</body>
</html>

